.location-container {
  width: 1100px;
  margin: 0 auto;
}
.locator-sub-header {
  font-size: $font-size-extra-l;
  line-height: $line-height-extra-l;
  font-weight: $fw-bold;
  padding-left: 16px;
  border-left: 80x #9f1213 solid;
}
