// colors
$dark-red: #AA0601;
$white: #FFFFFF;
$black: #000000;
$bright-red: #B75929;
$brown: #5F3E2D;

// Font-Size
$font-size-xxxl: 42px;
$font-size-xxl: 36px;
$font-size-xl: 32px;
$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-s: 16px;
$font-size-xs: 14px;

// line-height
$line-height-xxxl: 63px;
$line-height-xxl: 54px;
$line-height-xl: 48px;
$line-height-lg: 36px;
$line-height-md: 30px;
$line-height-s: 24px;
$line-height-xs: 21px;

