/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    font-style: italic;
    color: orange; }

.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }

.logo {
  width: 80px;
  height: 48px;
  display: block; }

.Nav_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .Nav_option li {
    margin-left: 64px; }
  .Nav_option a {
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    line-height: 30px; }

.footer {
  background-color: #AA0601;
  padding-top: 32px;
  padding-bottom: 39px; }
  .footer a, .footer p, .footer span {
    color: #FFFFFF; }

.footer-container {
  width: 1110px;
  margin: 0 auto; }

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer_nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer_nav-options li {
    margin-right: 48px; }
  .footer_nav-options a {
    font-size: 16px;
    line-height: 24px; }

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socialMedia li {
    margin-left: 32px; }

.contact {
  padding: 24px 0;
  border-bottom: #FFFFFF 1px solid;
  margin-bottom: 33px; }
  .contact a {
    font-size: 36px;
    line-height: 36px; }
  .contact img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 22px;
    vertical-align: middle; }

.legality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .legality ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .legality a {
    margin-left: 48px;
    font-size: 14px;
    line-height: 21px; }
  .legality p {
    font-size: 16px;
    line-height: 24px; }

/*# sourceMappingURL=all.css.map */
